:root{
    --variavelBackground: #242323;
    --img-blur: 0px;
    --img-width:100%;
}

html,body{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    min-height: 100vh;
    background-color: var(--variavelBackground);
    transition: all 0.8s;
}

.img-container{
    background: var(--variavelBackground);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.8s;
    
    
}
.img-container form{
    display: flex;
    padding-bottom: 20px;
    
}

.img-container form div{
    display: flex;
    align-items: center;
    padding-inline: 20px;
}
.img-wrapper{
   
    width: 800px;
    display: flex;
    justify-content: center;
}

img{
    width: var(--img-width);
    filter: blur(var(--img-blur));
    transition: all 0.8s;
}